@{
    ViewBag.Title = "Home Page";
}

<div class="hero-unit">
    <h1>스케일 아웃</h1>
    <p class="lead">SQL Server로 스케일아웃</p>
</div>
<div class="row">
    <div class="span12">

        <h3>Web API 호출 후 결과 보기:</h3>
        <div style="width:200px;display:block;">
            <b>메시지 전송</b>
            <br />
            <input type="text" name="message" value="" id="message" />
            <button id="send">전송</button>
            <div style="width:200px; float:left;">
                <b>Web API로 전송된 값(C->S): </b>
                <ul id="messagesSent"></ul>
            </div>
            <div style="width:200px; float:left;">
                <b>SignalR에서 전송된 값(S->C): </b>
                <ul id="messagesReceived"></ul>
            </div>
        </div>

    </div>
</div>


@section scripts
{
    <script src="~/Scripts/jquery.signalR-1.1.3.js"></script>
    <script>
        $(function () {
            var con = $.hubConnection();
            var hub = con.createHubProxy("messageHub");

            // Web API -> Clients
            hub.on("onMessageReceived", function (msg) {
                $("#messagesReceived").prepend("<li>" + msg + "</li>");
            });

            con.start().done(function () {
                hub.invoke("Init");
            });

            // Web API 호출: 브로드캐스트
            $("#send").click(function () {
                var msg = $("#message").val();
                $.get("/api/messages?message=" + encodeURIComponent(msg), function () {
                    $("#messagesSent").prepend("<li>" + msg + "</li>");
                });
            });
        });
    </script>
}